<ion-header [translucent]="true">
  <ion-toolbar>
    <div  class="div-ion-toolbar">
      <ion-title class="ion-title">BuyEasy</ion-title>
        <ion-fab-button [routerLink]="['/form-add']">
          <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  <div >
    <ion-select (ionChange)="onOptionSelected($event)"
        label="Choice a category"
        interface="action-sheet"
        placeholder="Select category"
        cancelText="Cancel Choice"
      >
      <ion-select-option  *ngFor="let category of categories" value="{{category}}">{{category.toUpperCase()}}</ion-select-option>
      <ion-select-option value="all">ALL</ion-select-option>
    </ion-select>
    <div *ngIf="products.length > 0; else noDataTemplate" class="produc_Container">
      @if(products){
        <app-card (doClick)="doNavegate($event)" *ngFor="let product of products" [datas]="product"></app-card>
      }
    </div>
  </div>
  

  <ng-template #noDataTemplate>
    <div id="container">
      <app-not-found
        title="Oops! Something Went Wrong"
        img="../../assets/not_found.png"
        description="We couldn't find the product you're looking for, or there might be a connection issue. Please try again later."
      ></app-not-found>
    </div>
  </ng-template>

</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <app-footer [size]="size"></app-footer>
  </ion-tab-bar>
</ion-footer>
