<ion-header [translucent]="true">
  <ion-toolbar class="ion-toolbar">
    <ion-title class="ion-title">
      BuyEasy
    </ion-title>
    <ion-fab >
      <ion-fab-button class="button">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="produc_Container">
    <app-card 
    [imgUrl]="data.imgUrl" 
    [title]="data.title"
    [description]="data.description"
    [price]="data.price"
    

    ></app-card>
  </div>

  <div id="container" style="display: none;">
    <strong>Oops! Something Went Wrong</strong>
    <img src="../../assets/not_found.png" alt="Not found">
    <p>We couldn't find the product you're looking for, or there might be a connection issue. Please try again later.</p>
    <ion-button color="tertiary">Refresh</ion-button>
  </div>

  <app-footer></app-footer>
</ion-content>
