<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>
    {{products.title}}
  </h1>

  <div class="img">
    <img src="{{products.image}}" alt="image of product">
  </div>

  <div class="bak">
    <p class="bak__p">{{products.category}}</p>
    <p class="bak__pirce">{{products.price}}</p>
  </div>
  <div class="description">
    <h3>Description</h3>
    <p>{{products.description}}</p>
  </div>
  <div class="rating">
    <p>Bought: </p>
    <p>3.9*</p>
  </div>

</ion-content>
