h1{
    margin-left: 35px;
}

img {
    margin-top: 25px;
    width: 225px;
    height: auto;
    margin-left: 11ch;
}

.bak{
    display: flex;
    margin-left: 35px;
    gap: 75px;
}

.bak .bak__pirce{
    font-size: 35px;
}

.bak__p{
    height: 15px;
    font-size: 18px;
}

.description{
    margin-left: 35px;
    margin-right: 9px;
}

.rating{
    margin-left: 35px;
    display: flex;
    gap: 75px;
}