h1{
    margin-left: 35px;
}

img {
    margin-top: 25px;
    width: 225px;
    height:225px;
    margin-left: 11ch;
}

.bak{
    display: flex;
    margin-left: 35px;
    gap: 75px;
}

.bak .bak__pirce{
    font-size: 35px;
}

.bak__p{
    height: 15px;
    font-size: 18px;
}

.description{
    margin-left: 35px;
    margin-right: 9px;
}

.rating{
    margin-left: 35px;
    display: flex;
    gap: 75px;
}

.cartIcon{
    position: fixed;
    bottom: 16px; 
    right: 16px;
    z-index: 1000; 
    margin-bottom: 44px;
}

.quantity{
    align-items: center;
    display: flex;
    gap: 25px;
    margin-left: 35px;
}
.quantity h4{
    font-size: 35px;
}

.div-ion-toolba{
    display: flex;
}

.addcart{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
}


.btn {
    background-color: transparent;
    color: inherit; 
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --ripple-color: transparent;
}